.landing-page {
  text-align: center;
  font-family: Arial, sans-serif;
}

.landing-header {
  padding: 0; 
  background-color: #f8f9fa;
}

.landing-banner {
  width: 100%;
  max-width: 100%; 
  height: auto;
  max-height: 300px; 
  object-fit: cover; 
}

.landing-content {
  padding: 2rem;
}

.landing-content h2 {
  margin-top: 1rem; /* Move the header up a bit */
  font-size: 2rem; /* Adjust header font size as needed */
}

.landing-content p {
  margin-top: 1rem;
  font-size: 1.5rem; /* Increase paragraph font size */
  line-height: 1.6; /* Optional: Adjust line height for better readability */
}
